h1 {
  text-align:center;
  font-size: 15px;
  font-family: Verdana; 
}
h2 {
  text-align:center;
  font-size: 15px; 
  font-family: Verdana; 
}
h3 {
  text-align: center; 
  font-size: 33px;
  font-family: sans-serif; 
}
h4 { 
text-align: center; 
  font-size: 15px; 
  font-family: sans-serif; 
}
h5 {
  text-align: left;
  font-size:15px;
  font-family: Verdana; 
}
h6 {
  text-align: center; 
  font-size:15px; 
  font-family: Verdana; 
}
h7 { 
  font-size:15px; 
  font-family: Verdana;
}
