.home {
  border: solid 3px;
  border-color: blue;
  font-family: cursive;
}
.homee{
  width:250px;
  border: solid 3px;
  border-color: black;
}
.pic{
  border: solid 3px;
  border-color: blue;
  font-family: cursive;
}
.pics{
  border: solid 3px;
  border-color: black;
  width:400px;
  h
}
.hen{
  border: solid 3px;
  border-color: blue;
  font-family: cursive;
}


  
body {
  background-color: lightblue;
}
